<div class="text-center">
  	<div class="container" style="width: 720px">
   	<div class="text-center">
   			<div class="pafeto-text-title">{{dish.name}}</div>
   			<div class="pafeto-dish-price">ราคา {{dish.price}} บาท</div>
   			<div class="pafeto-dish-restaurant">
   				ร้าน <a href="/restaurant/{{dish.restaurant_id}}">{{dish.restaurant_name}}</a>
   			</div>		
   			<div class="pafeto-dish-description">{{dish.description}}</div>
   			<div class="pafeto-dish-image"><img height='320' src="/images/dishes/{{dish.id}}.png"></div>
      </div>
   </div>
</div>
