<div class="container" style="margin-top: 60px; min-height: 400px;">
  	<img src="http://www.pafeto.com/images/dishes/{{dish.id}}.png" class="dish-image">
  	<div class="pafeto-dish-info">
  		<div class="pafeto-text-title">{{dish.name}}</div>
  		<div class="pafeto-text-restaurant">
   				ร้าน <a href="/restaurants/{{dish.restaurant_id}}">{{dish.restaurant_name}}</a>
   		</div>
   		<div class="pafeto-text-price">{{dish.price}} บาท</div>	
   		<div class="pafeto-text-description"><b>คำอธิบาย</b><br>{{dish.description}}</div>
  	</div>
</div>